
#root {
max-width: 1280px;
margin: 0 auto;
padding: 2rem;
text-align: center;
}

.logo {
height: 6em;
padding: 1.5em;
will-change: filter;
transition: filter 300ms;
}
.logo:hover {
filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
from {
transform: rotate(0deg);
}
to {
transform: rotate(360deg);
}
}

@media (prefers-reduced-motion: no-preference) {
a:nth-of-type(2) .logo {
animation: logo-spin infinite 20s linear;
}
}

.card {
padding: 2em;
}

.read-the-docs {
color: #888;
}
.btn {
background: rgb(255, 225, 116);
padding: 10px;
border-radius: 10px;
cursor: pointer;
transition: 0.2s;
box-shadow: 6px 2px 0px rgb(255, 0, 0);
font-size: 35px;
font-weight: 800;

}
.btn:hover {

transform: scale(1.2);
background-color: rgb(255, 255, 255);
}
.btn.disabled:hover {
background-color: white;  /* keep original /
transform: none;          / remove scale /
cursor: not-allowed;      / optional */
}
body {
background: rgb(79, 45, 24);
}
.tar{
background-color: rgb(147, 156, 126);
box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
border-radius: 3px;
width: 170px;
border-style: solid;
border-width: 1px;
border-color: black;
text-shadow: 3px 1px 2px black;
font-size: 65px;
font-family: 'Digital-7', monospace;
color: rgb(255, 255, 255);

}
.btn1 {
background: rgb(255, 220, 133);
padding: 10px;
border-radius: 0px;
margin: 0px;
margin-top: 20px;
cursor: pointer;
transition: 0.2s;
box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
width: 200px;
font-family: monospace;
font-size: 25px;
}
.btn1:hover {

transform: scale(1.2);
background-color: rgb(255, 255, 255);
}
.shad{

box-shadow: 10px 2px 5px rgba(0, 0, 0, 0.3);
animation-name: fade;
animation-duration: 1.5s;
animation-iteration-count: 1;
animation-fill-mode: forwards;
}
.intro{
animation-name: oppfade;
animation-duration: 1.5s;
animation-iteration-count: 1;
animation-fill-mode: forwards;
}
@keyframes fade {
from{
transform: translateY(-150px);
}

to{
transform: translateY(0px);
}
}

@keyframes oppfade {
from{
transform: translateY(150px);
}

to{
transform: translateY(0px);
}
}
@font-face {
font-family: 'Digital-7';
src: url('./fonts/Digital-7.ttf') format('truetype');
}

.digital-number {
font-family: 'Digital-7', monospace;
}
.score{

font-size: 25px;
color: rgb(241, 241, 196);
background-color: rgba(253, 206, 111, 0.679);
padding: 6px;
border-radius: 10px;
box-shadow: 8px -4px 0px rgb(255, 255, 255);

}
.tarnumb {

  box-shadow: 10px 5px 1px rgba(84, 17, 17, 0.196);
  
  color: rgb(101, 7, 7);
  font-weight: 900;
  text-shadow: 5px 2px 1px white;


}
.overdiv1{
  background-color: black;
  padding: 50px;
  border-radius: 20px;
  border-style: solid;
  border-width: 2px;
  border-color: white;
}